/* contents */
.cform_field_form{
    margin-top:40px;
}
.cform_field_row{
    margin-top:15px;

    & + .cform_field_row.warn_message{margin-top:10px;}
    &:first-of-type{margin-top:0;}
    .input_component_box{
    }
}


.cform_field_row{
    &.warn_message{
        display:none;
        &.active{display:block;}
    }
}
.warn_para{color:$warn;font-size:13px;}
.warn_message_list{
    margin:10px 0 0 0; color:$warn; font-size:14px;
     > li{
        margin-bottom:6px; position:relative;padding-left:10px;
         &:before{display:block;content:'';width:4px;height:6px;background:url("../images/ic_error@2x.png") no-repeat 0 0/100% auto;position:absolute;top:5px;left:0;}
         &:last-of-type{margin-bottom:0;}
     }
}
.form_each_message_group{margin-top:10px;display:none;
    &.active{display:block;}
}
.form_each_message{
    color:$warn; font-size:14px;
    strong{}
}

.cform_btn_primary_row{margin-top:20px;display:flex;gap:10px;
    .btn_formbox_submit{flex:1;}
}
.btn_formbox_submit{
    display: block; text-align: center;
    padding: 14px 13px 12px;
    border:1px solid $primary;
    border-radius: 4px;
    background-color: $primary;
    line-height:0;

    &:hover{background-color:$primary_hover;}

    &.type2{
        border-color:$primary; background:#fff;
        &:hover{border-color:$primary_hover;}
        .btn_formbox_submit_text{color:$primary;color:$primary_hover}
    }

    &.disabled{border-color:#dfe2e7;background-color:#dfe2e7; cursor: default;
        .btn_formbox_submit_text{color:#575b62;}
    }
}
.btn_formbox_submit_text{display:inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #fff;
}

.cform_other_row{margin-top:10px;display:flex;justify-content: space-between;align-items: center;}
.cform_other_label{ font-size: 13px;
    line-height: 1;
    text-align: left;
    color: #3f4247;}
.cform_other_btn{}
.btn_text_cfrom{font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
    color: #007e67;display: inline-block;text-decoration: underline !important;
    &:hover,&:active{
        color:#004b3d;
    }
}
.cform_other_row{}

.cform_btn_sub_row{margin-top:24px;}

.cform_field_tb_row{}
.cform_field_tb{
    width:100%;
    th,td{vertical-align: top;text-align: left;padding-bottom:15px;}
    th{width:1px;padding:13px 10px 0 0;
        &.ptype2{padding-top:0}
    }
    tr:last-of-type{
        th,td{padding-bottom:0 !important;}
    }
    &.type2{
        th{width:auto;}
        th,td{padding-bottom:20px;}
        .cform_field_label{white-space: normal;}
    }
    &.type3{
        th,td{padding:20px 0;border-bottom:1px solid #f5f5f6;vertical-align: middle;}
        th{padding-right:20px;}
        tr:last-of-type{
            th,td{padding-bottom:20px !important;}
        }
        .cform_field_label{font-size:14px;color:#3f4247;font-weight:500;}
    }
}
.cform_field_label{
    display:flex;white-space:nowrap;font-size:13px;color:#3f4247;
    &.imp{
        &:after{display:inline-block;content:'*';color:$warn;font-weight:700;margin-left:2px;}
    }
}
.cform_data{font-size:13px;color:#575b62;line-height:1.3}

.cform_field_tb_row{
    & + .cform_btn_primary_row{margin-top:30px;}
}

.td_blockitem{
    &:last-of-type{}
}

.cform_field_tb_item{
    margin-bottom:50px;
    &:last-of-type{margin-bottom:0;}
}

.cform_field_tb_wrap + .cform_btn_primary_row{margin-top:30px;}

.btn_field_submit{display:inline-flex;align-items: center;gap:7px;}
.btn_field_submit_text{font-size:14px;color:#3f4247;}
.ico_field_submit{
    display:flex;align-items: center; justify-content: center;font-size:0;line-height:0;
    box-sizing: border-box;
    flex:0 0 0 40px;
        width: 40px;
    height: 40px;
    padding: 10px;
    border:1px solid #e3e3e3;
    border-radius:100%;
    background-color: #fff;
    &:hover{border-color:#7c8188;}
    &:after{display:block;content:'';width:20px;height:20px;background-repeat:no-repeat;background-size:100% auto; background-position:50% 50%;}
    &.ico_del{

    }
    &.ico_cancel{
        &:after{background-image:url("../images/ic_cancle@2x.png");}
    }
    &.ico_save{
        &:after{background-image:url("../images/ic_download@2x.png");}
    }
    &.ico_delete{
        &:after{background-image:url("../images/ic_delete@2x.png");}
    }
    &.ico_pencil{
        &:after{background-image:url("../images/ic_modify@2x.png");}
    }
    &.primary{
        background-color:#00b191;border-color:#00b191;
        &:hover{background-color:#007e67;border-color:#007e67;}
    }
}

.subform_block{
    margin-bottom:50px;
    &:last-of-type{margin-bottom:0;}
}
.subform_title_row{margin-bottom:13px;display:flex;justify-content: space-between;align-items: center;}
.subform_title{display:flex;align-items: center;gap:5px;}
.subform_ico{
    display:block;width:28px;height:28px;background-repeat:no-repeat;background-size:100% auto;background-position:0 0;
    &.ico_type{background-image:url("../images/ic_type@2x.png");}
    &.ico_name{background-image:url("../images/ic_usecase_name@2x.png");}
    &.ico_ca_add{background-image:url("../images/ic_category@2x.png");}
    &.ico_explain{background-image:url("../images/ic_comment@2x.png");}
    &.ico_ca{background-image:url("../images/ic_category@2x.png");}
    &.ico_history{background-image:url("../images/ic_history@2x.png");}
    &.ico_3d_list{background-image:url("../images/ic_simulation@2x.png");}
    &.ico_user_list{background-image:url("../images/ic_usecase@2x.png");}
    &.ico_parameter{background-image:url("../images/ic_parameter@2x.png");}
}
.subform_title_text{
    font-size:14px;color:#3f4247;
    &.imp{
        &:after{display:inline-block;content:'*';color:#ff002e;margin-left:3px;}
    }
}
.subform_content_row{}
.subc_form_item{padding: 15px;
    border-radius: 4px;
    border: solid 1px #dadcde;
    margin-bottom:30px;
    &:last-of-type{margin-bottom:0;}
}
.subc_form_item_title_row{margin-bottom:13px;}
.subc_form_title{
    font-size: 13px;
    line-height: 1.3;
    text-align: left;
    color: #575b62;
    position:relative; padding-left:10px;
    &:before{display:block;content:'';width:5px;height:5px;background:#6f757d;border-radius:100%;position:absolute;top:6px;left:0;}
}
.subc_form_item_content_row{}
.subc_form_tb{
    width:100%; table-layout: fixed;
    th{width:24px;padding-right:10px;
        &:nth-of-type(2){width:36px;}
    }
    th,td{padding-bottom:8px;}
    td{
        padding-right:20px;
        &.has_control{width:35px;}
        .form_select{width:100%;}
        &:last-of-type{padding-right:0;}
    }
    tr:last-of-type{
        th,td{padding-bottom:0;}
    }
    select.form_select{padding-left:20px !important;}
    .input_component_box{height:35px;}
}
.btn_control_box{
    width: 35px;
    height: 35px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
    background-color: #575b62;
    &:hover{background-color:#3a3e45;}
    &:after{display:block;content:'';width:20.5px;height:20.5px;background:url("../images/ic_regist@2x.png") no-repeat 0 0/100% auto;}
    &.ico_increase{}
    &.ico_decrease{
        &:after{background-image:url("../images/ic_delete_list@2x.png");}
    }
    &.primary{
        background-color: $primary;
        &:hover{background-color:$primary_hover}
    }
}
.screen_subtitle_else_row{margin-bottom:10px;}

.subc_form_title_else_group{display:flex;gap:10px;}

.list_combosort_wrap{
    margin-bottom:20px;
    .form_select{width:100%;}
}

.subform_title_else_g{}
.subform_render_data{font-size: 14px; display:inline-block;
    font-weight: 700;
    line-height: 1;
    text-align: right;
    color: #3f4247;}
/* form */

input.props_form {
    box-sizing: content-box;
    width:16px;height:16px;
    background: #fff url("../images/ico_formcheck.png") no-repeat 0 0/100% auto;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    vertical-align: middle;
    cursor: pointer;
    &:hover{border-color:$primary}
  }
  input.props_form:checked {
    background-color: $primary;
    border-color: $primary;
    background-position: 0 100%;
  }
  input.props_form[type=radio] {
    background: #fff;
    border-radius: 100%;
    position: relative;
    width:14px;height:14px;
    border:2px solid #d4d4d4;
  }
  input.props_form[type=radio] + .props_label {
    position:relative;top:-1px;
  }
  input.props_form[type=radio]:checked {
    border-color: #00b191;
    background:#fff url("../images/props_radio.png") no-repeat 50% 50%/100% auto;
  }

  
.props_form_item_list{
    display:flex; gap:34px; min-height:40px;flex-wrap:wrap; align-items: center;
    > li{
        &:last-of-type{
            
        }
    }
    &.gap_type2{}
    &.type3{
        min-height:0;
    }
}
.props_form_item{display:flex;align-items: center;gap:8px;
    &.type2{gap:13px;}
    .props_label{font-size:14px; color:#5f637a;margin-left:0;}
}

.props_label{
    margin-left:3px;cursor: pointer;
    &.map_guide_label{
        padding-left:24px;position:relative;
    }
}

.form_block_field{
    .field_footer_row{gap:8px;
        .btn_field_formbox{min-width:80px;}
    }
}
.form_block_row{
    margin-bottom:20px;
    &:last-of-type{margin-bottom:0;}
}
.form_block_title_row{margin-bottom:5px;}
.form_block_content_row{}
.form_block_title{
    font-size: 13px;
    line-height: 1.3;
    text-align: left;
    color: #3f4247;
    position:relative;padding-left:7px;
    &:before{display:block;content:'';width:3px;height:3px;border-radius: 100%;position:absolute;top:6.5px;left:0;background:#3f4247;}
}
.fgroup_item_wrap{display:flex;gap:16px; align-items: center;
    &.nogap{gap:0;}
    .tui-datepicker-input{min-width:167px;width:100%;}
}
.fgroup_cols{
    flex:1;min-width:0;
    &.else{
        text-align: center;
        flex:0 0 20px;font-size:0;
    }
}
.fgroup_elsetext{font-size:12px;white-space: nowrap;text-align: center;display:inline-block;line-height:1;}
.btn_bottom_pos_wrap{
    display:flex;justify-content:center;gap:8px;margin-top:20px;
    .btn_field_formbox{min-width:160px;}
}
.ui_picker_render{position:absolute;z-index:10;height:0;margin-top:1px;}
.form_textarea_box{
    position:relative;border: solid 1px #dadcde; padding:15px;
    border-radius: 4px;
    .count_wrap{/* position:absolute;bottom:12px;right:12px; */color:#6f757d;display:block;margin-top:10px;
        font-size: 12px;
        text-align: right;
        color: #6f757d;
    }
    &.focus{
        border-color:$primary;
        textarea.form_textarea{
            
        }
    }
}
textarea.form_textarea{
    width: 100%;
    box-sizing: border-box;
    vertical-align: top;
    height: 63px;
    // padding: 15px 15px 35px 15px;
    border: 0;
    background-color: #fff;
    resize: none;
    &.warn{border-color:$warn;}
    // &:focus{border-color:$primary;}
}
.table_data_block{
    margin-bottom:30px;
    &:last-of-type{margin-bottom:0;}
}
.table_top_row{margin-bottom:10px;}
.tb_box_wrap{
    .list_table_wrap{border-radius:4px;border:1px solid #dadcde;}
    .list_table{border-top:0;
        th{padding:4px 5px 5px;
            .thtext{color:#6f757d;}
        }
        td{padding:4px 5px 5px;font-weight:300;
            &.has_check{padding:0 20px;font-size:0;line-height:0;}
            .tdtext{color:#3f4247;font-weight:300;}
        }
    }
}

/* board */
.btn_field_box{
    border-radius: 4px;
  background-color: #fff;
  display:inline-flex;align-items: center; gap:2px; flex-direction: row-reverse;
  min-height:35px; padding:0 17px;

  &:hover,&:active{
    .ico_field{background-position:0 100%;}
    .field_box_text{color:#007e67;}
  }

  .ico_field{display:inline-block;background-position:0 0;background-size:100% auto;background-repeat:no-repeat;width:20px;height:20px;
        &.ico_filter{background-image:url("../images/ico_filter_20.png");}
    }

    .field_box_text{font-size: 13px; display:inline-block; position:relative;top:1px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #3f4247;}
}

.search_field_cols,
.search_field_container{display:flex;align-items: center;}

.search_field_cols{
    &:last-of-type{flex:1;min-width: 0; display:flex;justify-content: flex-end;}
}

.search_fitem_wrap{flex:1;display:flex;align-items:center;gap:10px;max-width:500px;}
.serach_fitem_short_cols{flex:0;}
.serach_fitem_long_cols{flex:1;min-width:0;}
select.form_select{
    appearance: none; -webkit-appearance: none; padding:0 24px 0 5px; height:24px; line-height:1; box-sizing: border-box; border:1px solid #fff;border-radius:4px; background:#fff url("../images/ico_select_small.png") no-repeat 100% 50%/18px auto;
    font-size:12px;color:#27292c; cursor: pointer;
    &.filled{color:#3F4247 !important;}
    &.focus{border-color:#00b191 !important;}
    &.warn{border-color:#ff002e;}
    &.medium2{
        height:30px; font-size:13px;color:#898e96; background-image:url("../images/ico_select_medium.png");background-size:24px auto; padding-right:42px;padding-left:12px;
    }
    &.medium{
        height:35px; font-size:13px;color:#898e96; background-image:url("../images/ico_select_medium.png");background-size:24px auto; padding-right:42px;padding-left:12px;
    }
    &.dtype2{border:1px solid #dadcde;}
}
.list_sort_row{display:flex;justify-content: space-between;margin:0 0 8px;
    &.type2{justify-content: flex-end;}
}
.list_sortcase_item_list{display:flex;align-items: center;gap:10px;}
.list_sort_cols{display:flex;align-items: center;
    &:last-of-type{
        gap:15px;
    }
}
.list_count_wrap{display:flex;align-items: center;color:#27292c;font-size:12px;gap:3px;}
.list_count_value{font-weight:700;}
.list_count_unit{}
.list_count_wrap{}
.pagination_wrap{display:flex;align-items: center;}
.btn_pagination_control{ width: 20px; display:block; border-radius:100%; position:relative;
    margin-right:4px;
    height: 20px;
    padding: 4px 5px 4px 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    &:last-of-type{margin-right:0;}
    &:hover{
        &:before,
        &:after{border-color:#007e67 !important;}
    }
    &.first_go{
        &:before,
        &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #868686;border-bottom:1px solid #868686;position:absolute;top:10px;left:9px;transform: rotate(45deg);}
        &:before{}
        &:after{left:14px;}
    }
    &.end_go{
        &:before,
        &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #868686;border-bottom:1px solid #868686;position:absolute;top:10px;left:6px;transform: rotate(225deg);}
        &:before{}
        &:after{left:11px;}
    }
    &.prev_go{
        &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #868686;border-bottom:1px solid #868686;position:absolute;top:10px;left:12px;transform: rotate(45deg);}
    }
    &.next_go{
        &:after{display:block;content:'';width:7px;height:7px;border-left:1px solid #868686;border-bottom:1px solid #868686;position:absolute;top:10px;left:8px;transform: rotate(225deg);}
    }
}
.pagination_number_list{display:flex;align-items: center;gap:5px; margin:0 10px;
     > li{

         &:last-of-type{}
     }
}
.page_number{
    display:block;width:20px;height:20px;font-size:13px;line-height:20px;color:#575b62;text-align:center; font-weight:300;
    &:hover{color:#007e67;}
    &.active{color:#007e67;font-weight:500;}
}
.subc_form_label{font-size: 13px;display:inline-block;white-space: nowrap; position:relative;top:-1px;
    line-height: 1;
    letter-spacing: normal;
    color: #3f4247;}


/* 검색바 */
.search_field_container{
    .combo_item .combo_target{min-width:140px;}
    .input_component_box{
        background:#fff;border-radius:4px;box-sizing:border-box; padding:0 12px;height:35px; border-color:#fff;
        input.input_origin_item{height:33px;padding:0;line-height:33px !important;}
        &.filled{
            &.focus{border-color:$primary}
        }
    }
}
.search_field_row{display:flex;gap:5px;}
.serach_fitem_long_cols{display:flex;align-items: center;
    .search_field_wrap{flex:1;min-width:0;
        .btn_form_reset{margin-right:0;}
    }
}
.search_field_cols{
    &.long_type{flex:1;min-width:0;}
    &:last-of-type{}
    .combo_item{}
    .btn_field_box{}
    .form_select{min-width:125px;}
}
.btn_search_submit{display:block;height:35px;width:35px;border-radius:4px;background:#00b191 url("../images/ic_search@2x.png") no-repeat 50% 50%/20.5px auto;
    &:hover{background-color:#007e67;}
}
.field_footer_row{display:flex;align-items: center;justify-content: flex-end;gap:4px;margin-top:12px;
    .btn_field_formbox{
        min-width:80px;
    }
    &.gap8{gap:8px}
}

.search_field_wrap{
    margin-right:-4px;
    .input_component_box {
        border-radius:4px 0 0 4px;border-right-color:transparent !important;padding-right:16px;
        &.focus{
        }
    }
    &.value_true{

        .input_component_box {
            border-radius:4px 0 0 0;border-bottom:0;
            &.typing{
    
            }
            
        }
    }
}


.auto_word_layer {
    &.auto_mode {display: block;}
    &.auto_scroll_show {opacity: 1;}
}

.auto_word_layer {z-index: 10;position: absolute;top:100%;left: 0;width: calc(100% + 35px);box-sizing: border-box;display: none;opacity: 0;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    border: solid 1px #00b191;border-top:0;
}
.auto_word_layer{
    &:after{display:block;content:'';width:1px;height:5px;background:#00b191;position:absolute;top:-3px;right:-1px;}
}
.auto_word_list_wrap {overflow-y:auto;position: relative;}
.auto_word_list {}
.auto_word_item {
    font-size:14px;color: #313444;display:block;padding:8px 12px;
    &:hover{background:#f0fefb;}
    &.disabled{background:#f2f5f5;color:#adb3b3;cursor:default;}
}

.listdata_render_wrap{display:flex;min-height:42px;padding:0 20px;border-bottom:1px solid #f5f5f6;}
.listdata_render_data_cols{flex:1;min-width:0;display:flex;align-items: center;}
.listdata_render_control_cols{display:flex;
    .btn_field_formbox{padding:0 20px;}
}
.ico_copy_parag{
    display:flex;flex-wrap:wrap; gap:4px;
    &:before{display:block;content:'';width:16px;height:16px;background:url("../images/ic_notice@2x.png") no-repeat 0 0/100% auto;flex:0 0 16px;}
}
.ico_copy_intext{
    flex:1;
    font-size: 13px;
    /* padding-top:1px; */
    line-height: 1.3;
    text-align: left;
    color: #27292c;
    strong{font-weight:700;}
}
.btn_listdata_control_list{
    display:flex;gap:12px;align-items:center;font-size:0;line-height:0;
    > li{}
    .btn_onlytext{}
}

.getdata_box_list{
    display:flex;flex-wrap:wrap;gap:4px;padding:6px 0;
    > li{
        &:last-of-type{}
    }
}

.subc_form_data{display:flex;align-items: center;min-height:36px;color:#313444;font-size:14px;}

.getdata_box{display:flex;padding: 6px 10px; gap:5px;align-items: center;
    border-radius: 100px;
    background-color: #f5f5f6;}
.getdata_box_text{font-size: 12px; display:inline-block;
    line-height: 1;
    color: #575b62;}
.getdata_box_close{
    display:block;width:12px;height:12px;position:relative;top:-1px;
    &:before,
    &:after{display:block;content:'';width:12px;height:1px;background:#575b62;position:absolute;top:50%;left:50%;margin:-0.5px 0 0 -6px;}
    &:before{transform: rotate(45deg);}
    &:after{transform: rotate(-45deg);}
}

/* // 검색바 */


/* viewer */
.data_viewer_table_wrap{
    & + .cform_btn_primary_row{margin-top:30px;}
}
.data_viewer_table{
    width:100%;
    th{width:1px;padding-right:50px;}
    th,td{padding-bottom:15px;text-align: left;}
    tr:last-of-type{
        th,td{padding-bottom:0;}
    }
}
.data_viewer_key{display:inline-block;font-size: 13px; white-space: nowrap;
    font-weight: 500;
    line-height: 1;
    color: #3f4247;}
.data_viewer_value{font-size: 13px;display:block;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #3f4247;}
.form_table_value{font-size:13px;min-height:40px;display:inline-flex;flex-wrap:wrap;font-weight:500;align-items: center;}
.data_viewer_table_wrap{}
.subform_viewer_data{ font-size: 13px;
    line-height: 1.3;
    text-align: left;
    color: #575b62;}


/* local layer */
.popup_content_low{
    .local_layer{
        left:0;
    }
}
.local_layer{
    position:absolute;top:0;left:0;width:435px;z-index:10; box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 4px 5px 20px 0 rgba(63, 82, 111, 0.2);
    background-color: #fff;
    display:none;
    &.active{display:block;}
}
.local_layer_inner{padding: 20px;}


/* list */
.list_table_row{}
.list_table_wrap{position:relative;overflow-x:auto;}
.list_table{
    width:100%;border-top:1px solid #dadcde; white-space: nowrap;
    .has_check{width:16px;padding:8px 20px;}
    tr:hover{
        td{
            background-color: #f0fefb;
            .tdtext{color:#007e67;}
        }
    }
    th,td{border-bottom: solid 1px #f5f5f6;}
    th{background:#f5f5f6;padding:7px;}
    td{
        padding:8px 10px;
        &.type2{padding:6px;}
        &.type3{padding:0 6px;}
        &.nodata_td{background:#fff !important;}
    }
}
.thtext{display:inline-block;font-size:13px;color:#3f4247;line-height:1;}
.tdtext{display:inline-block;font-size: 13px;/* font-weight:300; */
    line-height: 1.3;
    letter-spacing: normal;
    text-align: center;
    color: #27292c;}
.data_count_box_wrap{margin-top:0;font-size:0;line-height:0;}
.data_count_box{font-size:10px;color:#004df9;font-weight:600;line-height:1;}

.emp_current{
    display:inline-block;color:#004b3d;line-height:1;border-radius:100px;padding:6px 10px; box-sizing:border-box;text-align:center;min-width:80px; background:#d7f5f0; font-size:12px;
    &.type2{color:#002d93;background-color:#dee8ff;}
    &.type3{}
    &.type4{}
}

.nodata_para_wrap{padding:40px;}
.nodata_para{font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    color: #27292c;}

.divide_table_zone{}
.divide_thead_wrap{
    border-bottom:1px solid #dadcde;background:#f5f5f6;border-top:1px solid #dadcde;
    .list_table{border-top:0}
}
.divide_tbody_wrap{position:relative;overflow-y:auto;
    .list_table{border-top:0}
    .nodata_para_wrap{padding-top:150px;padding-bottom:150px;}
}


/* data */
.user_data_both{max-width:570px;margin:0 auto;display:flex;}
.user_data_card_cols{flex:0 0 200px;text-align: center;}
.user_data_card_img{
    img{max-width:170px;vertical-align: top;}
}
.user_data_card_spec{padding: 13px 20px; margin-top:5px;
    border-radius: 4px;
    background-color: #f0fefb;}
.user_data_card_main{font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    color: #007e67;}
.user_data_card_sub{font-size: 13px; margin-top:3px;
    line-height: 1.3;
    text-align: center;
    color: #575b62;}
.user_data_data_cols{
    flex:1;min-width:0;padding:24px 0 0 50px;
    .cform_field_tb{}
}



/* tooltip */
.btn_imp_item{display:inline-block;vertical-align:middle;background:url("../images/ic_tooltip.png") no-repeat 50% 50%/100% auto;border:1px solid #007e67;width:14px;height:14px;border-radius:100%;box-sizing: border-box;}
.tooltip_wrap{
    display:none;
    border-radius: 4px;
    position:fixed;
    opacity:0;
    transition:.4s opacity;
    z-index:50;

    padding: 20px;
    box-shadow: 4px 5px 10px 0 rgba(63, 82, 111, 0.2);
    border: solid 1px #dadcde;
    background-color: #fff;

    &.active{display:block;
        &.posend{opacity:1;}
    }

    &.right_end{
        right:20px !important;
        left: auto !important;
    }

    &.left_end{
        right:auto !important;
        left: 20px !important;
    }

    &.bottom_end{
        
    }
}
.caption_detail_list{
    font-size:13px;color:#3f4247; line-height:1.3;
    > li{
       margin-bottom:20px;
       &:last-of-type{margin-bottom:0;}
    }
}
.caption_detail_thcols,
.caption_detail_tdcols{display:table-cell;padding:8px 0;border-bottom:1px solid #ddd;}
.caption_detail_thcols{padding-right:8px;width:1px;}
.caption_detail_tdcols{}
.caption_detail_label{display:inline-block;white-space: nowrap;color:$primary;font-weight: 600;}
.caption_detail_value{}

.caption_detail_label_row{margin-bottom:5px;}
.caption_detail_label{font-size: 13px; display:inline-block; position:relative; padding-left:8px;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
    color: #007e67;
    &:before{display:block;content:'';width:4px;height:4px;border-radius: 100%; background-color: #007e67; position:absolute;top:6px;left:0;}
}
.caption_detail_value_row{}
.caption_detail_value{}