/* layout */
html:not(.touchmode) {
    ::-webkit-scrollbar {width: 12px;background-color: transparent;height:12px;}
    ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 12px;background-clip: padding-box;border: 3px solid transparent;}
    ::-webkit-scrollbar-track {background-color: transparent;border-radius: 12px;box-shadow: inset 0px 0px 5px transparent;}
}


.front_body{
  min-width:1440px;
    &.half_form_body{
       overflow:hidden;
        .page_wrap{
            min-height:100vh; position:relative; height:auto;
            // background:url("../images/login_object2@2x.png") no-repeat 100% 100%/244px auto;;
            display:flex;align-items: center;justify-content: center;
        }
    }
    &.map_api_body{
       
    }
    .page_wrap{display:flex;flex-direction: column;height:100vh;
        > div:not(.tooltip_wrap),
        > section,
        > header,
        > footer{width:100%;box-sizing: border-box;}
    }
}
.bg_half_form{position:fixed;top:0;left:0;width:100%;height:100%;background:url("../images/img_login.png") no-repeat 0 50%/cover;}
.page_wrap{min-width:1440px;}

.hform_content_wrap{
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    box-shadow: 0 0 30px 0 rgba(56, 78, 133, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    position:fixed;top:0;right:0;width:50vw;height:100%;overflow-y:auto;
    border-radius:15px 0 0 15px;
    display:flex;flex-direction: column;
}
.hform_long_row{flex:1;min-height: 0;display:flex;align-items: center;}
.hform_inner_field{width:350px;margin:0 auto;padding:100px 0;}
.hform_inner_logo{
    max-width:324px;margin:0 auto;
    img{}
}
.hform_inner_cont{margin-top:38px;}
.hform_short_row{
    flex:0; text-align: center;padding:0 0 40px 0;
}
.hform_bottom_logo_list{
    display:flex;flex-wrap:wrap;gap:5px; justify-content: center;max-width:500px;margin:0 auto;
    > li{}
}
.hform_bottom_logo{
    display:block;max-width:80px;
    img{max-width:100%;}
}
.hform_footer_copy{
    margin-top:10px;
    font-size: 10px;
    line-height: 2;
    color: #6f757d;
    text-align: center;
    .emp{font-weight:700}
}