
@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Bold.eot');
    src: url('./webfont/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Bold.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Regular.eot');
    src: url('./webfont/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Regular.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Thin.eot');
    src: url('./webfont/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Thin.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Black.eot');
    src: url('./webfont/SpoqaHanSansNeo-Black.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Black.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Black.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Light.eot');
    src: url('./webfont/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Light.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Light.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-DemiLight.eot');
    src: url('./webfont/SpoqaHanSansNeo-DemiLight.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-DemiLight.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-DemiLight.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-DemiLight.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;

}

@font-face {
    font-family: 'Spoqa';
    src: url('./webfont/SpoqaHanSansNeo-Medium.eot');
    src: url('./webfont/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
         url('./webfont/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
         url('./webfont/SpoqaHanSansNeo-Medium.woff') format('woff'),
         url('./webfont/SpoqaHanSansNeo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
